.generosity-section {
  background-image: url(../../../assets/test-bg-3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0px;
  margin-top: 100px;
  padding: 30px 0;
  background-size: cover;
  background-attachment: fixed;
  border-radius: 20px;
  color: #D6EDFF;
}

.generosity-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.generosity-icon {
  margin-bottom: 20px;
}

.generosity-icon img {
  width: 100px; /* Adjust the size of the icons */
  height: 100px;
}
.occasions-heading {
  color: #D6EDFF;

  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.occasions-subheading {
  color:#D6EDFF; ;
  font-family: Roboto;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.875rem; /* 184% */
  text-transform: capitalize;
}
.occasion-donate-btn {
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 1.2rem;
}
.occasion-icon{
  padding: 0.5rem;
}
.occasion-icon-circle {
  margin: 0rem 3rem;
  border: 2.5px solid;
  border-radius: 50%;
}
.gen-name{
  font-size: 20px;
}

@media screen and (max-width:480px) {
  .occasion-icon-circle {
    margin: 0rem 1rem;
  
  }
  
}


