.donation-type {
  text-align: center;
  border-radius: 30px;
}

.donation-image {
  padding: 1rem;
  width: 8rem;
  height: 8rem;
}
.donation-img-container{
border: 1px solid;
width: 9rem;
height: 9rem;
margin-left: auto;
margin-right: auto;
border-radius: 50%;
margin-top: 8%;

}
.donation-title {
  margin-top: 10px;
  font-size: 1.5rem;
}

.donation-description {
  margin-top: 10px;
  color: #666;
}

.btn-donate {
  padding: 5% 8%;
  background-color: #28a745;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

@media screen and (max-width:480px) {
  .donation-type{
    margin: -0.5rem;
  }
  .donation-type{
    height: 30rem;
  }
}
