
.navbar {
    background-color: blue !important; 
  }
 @media screen and (max-width:480px) {
  
 }
 @media (max-width: 991px) { 
  .navbar-toggler {
    display: none; 
  }

  .navbar-collapse {
    display: flex; 
    flex-wrap: nowrap;
  }
}    
  