*{
  overflow-x: hidden;
}
.donation-types-container {
    display: flex;
    flex-wrap: wrap;
    ;
  }
  
  
  @media (max-width: 767px) {
    .donation-types-container {
      justify-content: space-between;
    }
  }
  
  
  @media (min-width: 768px) {
    .donation-types-container {
      justify-content: space-around;
    }
  }
  