/* src/components/NewsletterSection/NewsletterSection.css */
/* Add your styles for the NewsletterSection component */

.newsletter-section {
    padding: 30px 0;
  }
  
  .input-group {
    max-width: 300px; /* Adjust the width of the input box */
    margin-top: 10px;
  }
  
  .input-group input {
    border-radius: 0; /* Remove border-radius if not needed */
  }
  
  .input-group button {
    border-radius: 0; /* Remove border-radius if not needed */
  }
  